POSTGRES_DB=rental_marketplace
POSTGRES_USER=marketplace_admin
POSTGRES_PASSWORD=change_me
DB_PORT=5434

DB_URL=jdbc:postgresql://localhost:5434/rental_marketplace
DB_USER=marketplace_admin
DB_PASSWORD=change_me
